
extends ../layout

block content
  h1.
    Food Read #{uri}
  p Name: #{name}
  p Price: #{price}
  p Popularity: #{popularity}


    br
    a(href="/foods/edit?uri=#{uri}") Edit



  #about
    h2 Menu
    a(href="/") Front Page
    br
    a(href="/foods/list") Food List
    br
    a(href="/foods/listapi") Food List API
    br
    a(href="/foods/new") Create New Food
    br

